<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>HELLOW EJS</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fuga dicta itaque aliquam id cum ipsum error maxime, dolore fugiat in provident sequi et assumenda suscipit at sapiente, modi iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, obcaecati, consequuntur praesentium quisquam incidunt ipsum laudantium perferendis natus ea, in aliquam temporibus nostrum placeat eius unde fugiat. Ullam, incidunt recusandae?
  </p>

  <button>click me!</button>
  
</body>
</html>